DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=starter_db
# DB_SSL=require

JWT_SECRET="DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE."
